body{
    background-color: rgb(153, 83, 218);
    display: grid;
    place-items: center; 
}
h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(38, 0, 73);
    text-align: center;
    padding:50px;
    width:200px;
    background-color: rgb(205, 161, 255);
    border-radius: 20px;
    border: 5px solid rgb(38, 0, 73);
}
h3{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(38, 0, 73);}
table{
    border-spacing: 50px;
    border-radius: 20px;
}
img{
    border: 5px solid rgb(38, 0, 73);
    border-radius: 20px;
}
td{
    text-align: center;
    border: 5px solid rgb(38, 0, 73);
    border-radius: 20px;
    background-color: rgb(225, 186, 255);
    width: 700px;
}